/*头部样式*/
*{ margin: 0; padding: 0;}
a{text-decoration: none;}
li{list-style: none;}
img { border: none; }

/*左侧登入*/
.login{height: 870px;}
.login_in{height: 870px; width: 980px; margin: auto;}
.login_in .course{height: 66px; width: 980px; line-height: 90px; font-size: 12px;}
.login a{color: gray;}
#login{width: 489px; height: 285px; float: left; border-right: 1px dashed;}
#name{width: 450px; height: 25px; border: 1px solid black; margin: 8px 0;}
#password{width: 450px; height: 25px; border: 1px solid black; margin: 8px 0;}
#check{width: 150px; height: 20px; border: 1px solid black; margin: 8px 0;}
.login .sub{ margin-top: 5px; padding: 3px 15px;background: black; color: white; float: right;}

/*右侧会员*/
.Vip{width: 490px; height: 285px; float: left;}
.Vip h4{line-height: 30px; padding-left: 30px;}
.Vip a{line-height: 30px; padding-left: 30px; font-size: 12px;color: black; display: block;}
.Vip a:hover{color: gray;}

/*满150包邮*/
.full150{height: 122px; width: 980px; background: url(../img/full150.jpg) no-repeat bottom center;float: left;}

.seeAll{height: 56px; width: 980px; text-align: right; float: left;display: block; font-size: 12px;padding-top: 20px;}
.seeAll a{color: black;}
.seeAll a:hover{color: gray;}

/*猜你喜欢推荐*/
.like_title{background: black; color: white;display: block;height: 30px; width: 120px; text-align: center;font-size: 18px;line-height: 30px;float: left;}
.youlike{width: 980px; height: 310; border-top: 1px solid black; float: left;}
.youlike div{float: left; width: 200px;}
.youlike p{width: 150px; font-size: 12px;}
