/*头部样式*/
*{ margin: 0; padding: 0;}
a{text-decoration: none;}
li{list-style: none;}
img { border: none; }


.fixed{ position: fixed;top: 0;left: 0; width: 100%; height: 155px; z-index: 5;}
/*.toper,.toper1{margin: 0 auto;}*/
/*最上黑色提示栏*/
.top{height: 35px; background: black;}
.top .toper{height: 35px; width: 980px; margin: 0 auto;}
.top .toper .top_right a{color: white; border-left: 1px solid white;padding-left: 12px;}
.top .toper .top_right .a1{border: none; padding-right: 10px;}
.top .toper .top_left a{color: white; line-height: 35px; font-size: 11px; float: left; }
.top .toper .top_right{line-height: 35px; font-size: 11px; float: right;}

/*注册表购物车部分*/
.top1{height: 80px; background: white;}
.top1 .toper1{width: 980px; height: 80px; margin: 0 auto;}
.top1 .toper1 .flo{float: left; position: relative; top: 0;left: 0; width: 336px; height: 80px;}
.top1 .toper1 .flo img{left; padding-top: 22px;}

/*搜索框*/
.top1 .search{float: left; width: 313px; height: 80px;}
.top1 .search input{width: 230px; height: 30px; border: 1px solid #009DA8; border-radius: 10%; margin-left: 52px; margin-top: 27px;}

/*注册登入*/
.top1 .login{float: left; background: url(../img/login.jpg) no-repeat left center;  width: 178px; height: 80px;}
.top1 .login .login_p{padding: 28px 0 0 40px; font-size: 10px;}
#Myid:hover{color: gray;}

/*购物篮*/
.top1 .shoppingcar{float: left; background: url(../images/spritesheet_15.jpg) no-repeat left center;  width: 153px; height: 80px;}
.top1 .shoppingcar .shopcarinner{padding: 28px 0 0 48px; font-size: 10px; position: absolute;}
#shop:hover{color: gray;}
#num{ position: absolute; top: 35px; left: 13px; font-size: 14px; color: white; width: 30px; height: 22px; text-align: center;line-height: 22px;}

/*导航栏*/
.nav{height: 40px; background: #009DA8; font-size: 14px; font-family: simhei; }
.naver{width: 980px; height: 40px; margin: 0 auto;}
.naver a{color: white; line-height: 40px; text-align: center; background: #009DA8;}
.nav .naver ul li{float: left; font-size: 14px; padding: 0 10px;}
.nav .naver a:hover li{background: white;}
.nav .naver a:hover{color: #009DA8;}

/*轮播图*/
.banner{height: 410px;overflow: hidden;padding-top: 190px; }
.banner .banner1{width: 980px; height: 410px; margin: 0 auto;  overflow: hidden;}
.play { width: 980px; height: 410px;position: relative;}
ol { position: absolute; right: 365px; bottom: 25px; z-index: 2;}
ol li { float: left; margin-right: 20px; display: inline; cursor: pointer; background: white;border-radius: 50%;width: 10px; height: 10px; border: 1px solid gainsboro; }
.banner .banner1 ol .active {background: #009DA8; }


.banner .banner1 ul {height: 410px;z-index: 1;float: left; position: absolute; }
.banner .banner1 ul li { width: 980px; height: 410px;float: left;}
.banner .banner1 ul img { float: left; width: 980px; height: 410px;position: absolute;}

#left{position: relative;top: 181px; left: 20px;z-index: 3;cursor: pointer;}
#left_img{alpha(opcity:50); opacity: 0.5;}
#right{position: relative;top: 181px; left: 860px;z-index: 3;cursor: pointer;}
#right_img{alpha(opcity:50); opacity: 0.5;}


/*左侧定位广告*/
.gg{display: block; position: fixed; bottom: 100px;}


































