/*头部样式*/
*{ margin: 0; padding: 0;}
a{text-decoration: none;}
li{list-style: none;}
img { border: none; }


.fixed{ position: fixed;top: 0;left: 0; width: 100%; height: 155px; z-index: 5;}
/*.toper,.toper1{margin: 0 auto;}*/
/*最上黑色提示栏*/
.top{height: 35px; background: black;}
.top .toper{height: 35px; width: 980px; margin: 0 auto;}
.top .toper .top_right a{color: white; border-left: 1px solid white;padding-left: 12px;}
.top .toper .top_right .a1{border: none; padding-right: 10px;}
.top .toper .top_left a{color: white; line-height: 35px; font-size: 11px; float: left; }
.top .toper .top_right{line-height: 35px; font-size: 11px; float: right;}

/*注册表购物车部分*/
.top1{height: 80px; background: white;}
.top1 .toper1{width: 980px; height: 80px; margin: 0 auto;}
.top1 .toper1 .flo{float: left; position: relative; top: 0;left: 0; width: 336px; height: 80px;}
.top1 .toper1 .flo img{left; padding-top: 22px;}

/*搜索框*/
.top1 .search{float: left; width: 313px; height: 80px;}
.top1 .search input{width: 230px; height: 30px; border: 1px solid #009DA8; border-radius: 30px; margin-left: 52px; margin-top: 27px;padding-left: 15px;}

/*注册登入*/
.top1 .login{float: left; background: url(../img/login.jpg) no-repeat left center;  width: 178px; height: 80px;}
.top1 .login .link{color: black;}
.top1 .login .login_p{padding: 28px 0 0 40px; font-size: 10px;}
#Myid:hover{color: gray; cursor: pointer;}

/*enter*/
.enter{width: 250px; height: 250px; background: white;z-index: 15;border: 1px solid gray; position: absolute; top:100px; left: 730px; display: none;}
.enter .enter_box{width: 200px; height: 200px; padding: 25px;}
.btn{background: #009DA8; outline: none; color: white;text-align: center;line-height: 40px; font-size: 16px; width: 200px; height: 40px;z-index: 15; margin-bottom: 15px; border: 0;}
.enter ul{padding: 18px 0; margin-top: 15px; border-bottom: 2px solid grey; border-top: 2px solid grey;}
.enter ul li a{color: black; font-size: 12px;}



/*购物篮*/
.top1 .shoppingcar{float: left; background: url(../images/spritesheet_15.jpg) no-repeat left center;  width: 153px; height: 80px;}
.top1 .shoppingcar .shopcarinner{padding: 28px 0 0 48px; font-size: 10px; position: absolute;}
#shop{color: black;}
#shop:hover{color: gray;}
#num{ position: absolute; top: 35px; left: 13px; font-size: 14px; color: white; width: 30px; height: 22px; text-align: center;line-height: 22px;}

/*导航栏*/
.nav{height: 40px; background: #009DA8;  font-family: simhei; }
.naver{width: 980px; height: 40px; margin: 0 auto;}
.naver .nav_a{color: white; line-height: 40px; text-align: center; background: #009DA8;font-size: 14px;}
.nav .naver ul{position: relative;}
.nav .naver ul li{float: left;padding: 0 10px;}
.nav .naver .nav_a:hover li{background: white;}
.nav .naver .nav_a:hover{color: #009DA8;}
.nav .naver .nav_a:hover .popup{display: block; z-index: 6;}
/*.nav .naver .nav_a:hover #turn_right{display: block;}*/
/*.nav .naver .nav_a:hover body{background: gray;}*/

/*导航栏弹出框*/
.nav .naver span{display: block;width: 180px;text-align: left;padding-left: 30px;line-height: 20px;font-size: 12px;color: gray;}
.nav .naver .navtou{font-size: 14px; font-weight: bolder;padding-left: 20px;color: black;}
/*#turn_right{position:relative;left: 180px;width: 230px;}*/

.popup{width: 980px; height: 530px; background:white; position: absolute; left:0;display: none;white-space: normal;overflow:auto;z-index: 6;}

/*遮掩效果*/
.cover{width: 100%;height: 100%; background: black; alpha:(opacity=30); opacity: 0.3;z-index: 4;position: fixed; bottom: 0; top: 155px; display: none;}
/*.nav .naver .nav_a:hover .cover{display: block;}*/

/*轮播图*/
#banner {
	height: 410px;
	margin-top: 130px;
	position: relative;
}

#banner1 {
	width: 980px;
	height: 410px;
	margin: auto;
}

li {
	list-style: none;
}

#list {
	width: 980px;
	height: 410px;
	margin: 0 auto;
	/*position: relative;*/
	overflow: hidden;
}

#list li {
	width: 980px;
	height: 410px;
	position: relative;
	left: 0;
	top: 0;
	display: none;
}

#list li img {
	width: 980px;
	height: 410px;
	display: block;
}

#list .fli {
	display: block;
}

#btn {
	position: relative;
	left: 320px;
	bottom: 40px;
	width: 335px;
}

#btn span {
	margin-left: 20px;
	display: inline-block;
	width: 8px;
	height: 8px;
	border: 1px solid gainsboro;
	border-radius: 50%;
	cursor: pointer;
	background: white;
}

#btn .first {
	background: #009DA8;
}

#left {
	position: relative;
	z-index: 2;
	width: 48px;
	height: 48px;
	top: 225px;
	left: 20px;
	border-radius: 50%;
	cursor: pointer;
}

#right {
	position: relative;
	z-index: 2;
	width: 48px;
	height: 48px;
	top: 225px;
	left: 860px;
	border-radius: 50%;
	cursor: pointer;
}

/*无缝滚动*/
.little_banner{width: 980px; height: 42px;margin: 84px auto auto;}
#div1{position: relative; width: 980px; height: 42px; overflow: hidden;}
.little_1{float: left; padding-top: 6px; cursor: pointer;width: 42px; height: 30px;}
.little_2{float: right; padding-top: 6px; cursor: pointer;width: 42px; height: 30px;}
.little_2 img{float: right;}
.little_md{width: 896px; height: 54px; float: left; overflow: hidden; position: relative;}
#div1 ul{position: absolute; left: 0px; top: 0; width: 2240px; height: 54px;}
#div1 ul li{list-style:  none; float: left; width: 100px; height: 42px; padding: 6px}
#div1 ul li img{width: 100px; height: 30px;}

/*左侧定位广告*/
.gg{display: block; position: fixed; bottom: 100px; background: url(../img/internalpromotion.jpg);
width: 122px; height: 375px; cursor: pointer;}
.gg .close{padding-left: 107px;}

/*内容区*/
.content_out{height: 4500px; background: #F5F5F5; }
.content_out .content{width: 980px; height: 4500px;margin: 40px auto;}
.news_name{display: block; border: 1px solid black;text-align: center; line-height: 40px;margin-bottom: 25px;}
.news_pic{float: left; }
.content img{display: block;}
.content .news{text-align: center;line-height: 80px;display: block; width: 980px; height: 90px;font-size: 18px; font-weight: bolder; color: #009DA8;}
.content .news_name:hover{color: #009DA8;cursor: pointer;}
.content .in{padding: 0 5px;}

.click_choice{height: 730px;}
.click_choice .click_inside{width: 980px; height: 670px; margin: auto; background: ; margin-top: 30px; position: relative;}
.click_choice .click_inside span{cursor: pointer;}
.click_choice table{height: 30px; width: 980px; border-collapse: collapse; text-align: center;}
.click_choice table tr td{border: 1px solid black; width: 195px;}
.changer{background: #009DA8;color: white;}
/*内容区点击选项卡*/
.show_0,.show_1,.show_2,.show_3,.show_4{width: 980px; height: 665px; position: absolute; top:;}
.click_inside p{width: 150px; font-size: 12px;}
.click_inside h4{width: 170px;}
.click_inside .goods_img{padding: 30px 0 0 15px;}
.show_1,.show_2,.show_3,.show_4{display: none;}
.goods_01,.goods_05{width: 274px; height: 285px; float: left;}
.goods_02,.goods_03,.goods_06,.goods_07{width: 263px; height: 285px; float: left;}
.goods_04,.goods_08{width: 180px; height: 285px;float: left;}
 .more{border: 1px solid #009DA8;padding: 8px 28px;color: #009DA8;}
 .more:hover{color: skyblue;}






/*分享与联系*/
.share{height: 64px; background: #009DA8;}
.share .share_inside{width: 980px; height: 64px; margin: auto;}


.connection{width: 480px; height: 64px; float: left;}
.connection ul li{float: left;color: white;height: 64px;text-align: center;line-height: 64px; font-size: 14px;}
.connection ul li img{padding: 19px 8px;width: 25px; height: 25px;}

.join_us{width: 165px; height: 64px; float: left;background: url(../images/join_us.png) no-repeat left; color: white;}
.join_us a{color: white; font-size: 12px;}
.join_us a:hover{border-bottom:1px solid white ; }

.call_our{width: 125px; height: 64px; float: left; background: url(../images/box.png) no-repeat left; color: white;}
.call_our a{ font-size: 12px; color: white;}
.call_our a:hover{border-bottom:1px solid white ;}

.code{width: 210px; height: 64px; float: left;}
.code_big{width: 220px; height: 280px; position: fixed;bottom: 250px; right: 365px; background: grey;/*alpha:(opacity=30); opacity: 0.3;*/z-index: 5;}

/*foot部分*/
.foot{height: 290px; border-bottom: 2px solid gray;}
.foot_in{height: 290px; width: 980px; margin: auto;}
.foot_in .up{height: 210px; width: 980px;}
.foot_in .up .up_1,.up_2,.up_3,.up_4{width: 245px; height: 210px; float: left;}
.foot_in h5{line-height: 60px;}
.foot_in .down{height: 80px; width: 980px;}
.foot_in ul li a{color: black;font-size: 12px; line-height: 18px;}
.foot_in ul li a:hover{color: #009DA8;}
.foot_in .app{width: 300px; height: 70px; float: right;}
.app span{display: block; float: left;}
.app a:hover{color: #009DA8;}
/*end部分*/
.end{height: 70px;}
.end_in{height: 70px; width: 980px; margin: auto;}
.end_in a{color: black;}
.end_in a:hover{color: #009DA8;}
.end_in .end_1,.end_2,.end_3,.end_4{float: left;}
.end_1{width: 240px; height: 70px;}
.end_2{width: 265px; height: 70px; font-size: 11px; line-height: 70px;}
.end_3{width: 275px; height: 70px; font-size: 11px; line-height: 70px;}
.end_4{width: 200px; height: 70px; font-size: 11px;}
.end_4 a{border-right:1px solid black ; padding: 0 5px; margin-top: 20px; text-align: center;line-height: 70px;}

/*在线客服*/
.service{background: url(../images/online.png) no-repeat 145px 5px black; color: white;
position: fixed;bottom: 100px; right: 10px; width: 160px; height: 25px;}

/*一键gotop*/
#gotop{position: fixed;bottom: 30px; right: 10px; display: none;}























